
<web-app>      
    <servlet>
        <servlet-name>Exactly</servlet-name>
        <servlet-class>Exactly</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exactly</servlet-name>
        <url-pattern>/Exactly</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResult</servlet-name>
    <url-pattern>/SearchResult	</url-pattern>
  </servlet-mapping>
</web-app> 

